body {
    background-color: rgb(221, 203, 178);
    font-family: 'Noto Serif', serif;
}

.navbar-brand {
    border-radius: 50%;
}

.navbar-toggler:hover {
    background-color: rgba(95, 128, 43, 0.5);
    text-decoration: none;
}

.top h3 {
    font-family: 'Explora', cursive;
   
}


.top {
    text-align: center;
}

h1 {
    font-style: italic;
    color: rgb(50, 38, 3);
}

.top span {
    color: green;
}

/********** text overlay for title and hero image************/
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
}
.title a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;

}
.title a:hover {
    color:rgb(255, 236, 88);
    text-shadow: 1px 1px 2px rgb(84, 78, 2), 0 0 1em rgb(0, 43, 19), 0 0 0.2em rgb(106, 0, 255);

}

.title, .caption {
    text-shadow: 1px 1px 2px rgb(195, 183, 14), 0 0 1em rgb(16, 136, 70), 0 0 0.2em blue;
}


/********** making the subscribe section flexible***********/
.subscribe {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}
.subscribe h5 {
    padding-right: 20px;
    font-style: italic;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
  }

  .email {
    flex-grow: 3;
    flex-basis: 200px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
  }

  button {
    flex-grow: 1;
    flex-basis: 40px;
    cursor: pointer;
  }

/************** text overlay for images **************/
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
}

.caption:hover {
  color:rgb(255, 236, 88);
}

article {
    text-align: center;
    margin: 30px;
    padding: 30px 0;
    border-top: 3px double rgb(4, 48, 13);
    border-bottom: 3px double rgb(4, 48, 13);
    color: #fff;
}

.social-icons {
    text-align: center;
    margin: 10px;
}

.fa-brands {
    padding: 10px;
    font-size: 3vh;
    color:rgb(19, 83, 31);
}

footer{
    text-align: center;

}
footer span {
    font-family: 'Amatic SC', cursive;
    color:rgb(19, 83, 31);
}